/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @group ----- Generic HTML elements ----- */
/* line 8, sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, sass/screen.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #222;
  background: #f6f6f6;
}

/* line 20, sass/screen.scss */
h1 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 0.71429em;
}

/* line 27, sass/screen.scss */
h2 {
  font-size: 24.5px;
  line-height: 40px;
  margin-bottom: 0.71429em;
  font-weight: bold;
  color: #9e9e9e;
}

/* line 36, sass/screen.scss */
h3 {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 1.42857em;
  color: #7B8D78;
}

/* line 44, sass/screen.scss */
h4 {
  margin-bottom: 1.42857em;
  font-weight: bold;
  color: #7B8D78;
}

/* line 50, sass/screen.scss */
p, ul, ol, dl {
  margin-bottom: 1.42857em;
}

/* line 55, sass/screen.scss */
ul, ol, dl {
  margin-left: 1.5em;
}

/* line 63, sass/screen.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 67, sass/screen.scss */
dt {
  font-weight: bold;
}

/* line 72, sass/screen.scss */
dd {
  margin-left: 1.5em;
  margin-bottom: 1.42857em;
}

/* line 78, sass/screen.scss */
blockquote {
  margin: 2.85714em 0;
  font-style: italic;
  border: 1px solid #dddddd;
  border-width: 1px 0;
  padding: 1.42857em 1.5em 0;
}

/* line 86, sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 90, sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 94, sass/screen.scss */
a:link {
  color: #843418;
}

/* line 96, sass/screen.scss */
a:visited {
  color: #a49d4c;
}

/* line 98, sass/screen.scss */
a:hover {
  color: #7B8D78;
}

/* line 100, sass/screen.scss */
a:active {
  color: #7B8D78;
}

/* line 106, sass/screen.scss */
h1 a,
h2 a,
h3 a,
h4 a,
#site-title a {
  text-decoration: none;
}

/* line 108, sass/screen.scss */
table {
  width: 100%;
  margin: 2.85714em 0;
}

/* line 113, sass/screen.scss */
th, td {
  margin: 0;
  padding: 0.71429em 0;
  border-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.64286em;
}

/* line 120, sass/screen.scss */
th {
  border-bottom-style: solid;
  border-bottom-width: 0.21429em;
  padding-bottom: 0.5em;
  text-align: left;
  color: #a49d4c;
  font-weight: bold;
}

/* line 127, sass/screen.scss */
input {
  margin: 0;
}

/* line 133, sass/screen.scss */
input[type=text],
input[type=password],
textarea {
  font-family: "Lato", sans-serif;
  border-color: #dddddd;
  border-style: solid;
  border-width: 0.07143em;
  padding: 0.28571em;
  font-size: 14px;
  line-height: 20px;
}

/* line 143, sass/screen.scss */
input[type=submit],
button,
.button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #a49d4c;
  color: #fff;
  border: 0;
  min-height: 2.14286em;
  cursor: pointer;
}
/* line 153, sass/screen.scss */
input[type=submit]:hover,
button:hover,
.button:hover {
  background-color: #706b34;
}

/* line 159, sass/screen.scss */
textarea {
  margin-bottom: 1.42857em;
  min-width: 50%;
}

/* line 165, sass/screen.scss */
label,
.label {
  font-size: 17.5px;
  font-weight: bold;
}

/* line 170, sass/screen.scss */
.field {
  margin-bottom: 1.42857em;
}

/* @end */
/* @group ----- Global classes ----- */
/* line 178, sass/screen.scss */
#wrap {
  overflow: hidden;
  background: #fff;
  width: 884px;
  padding: 1.42857em;
  margin: 2.85714em auto;
}

/* line 186, sass/screen.scss */
#content {
  overflow: hidden;
  zoom: 1;
  clear: both;
  border-top: 1px solid #dddddd;
  padding-bottom: 18px;
  border-bottom: 1px solid #dddddd;
}

/* line 193, sass/screen.scss */
#primary {
  float: left;
  width: 65%;
  border-right: 1px solid #dddddd;
  padding: 1.42857em 1.42857em 0 0;
}

/* line 201, sass/screen.scss */
#secondary {
  float: right;
  width: 35%;
  padding: 1.42857em 0 0 1.42857em;
  word-break: break-all;
}

/* line 208, sass/screen.scss */
.navigation {
  list-style: none;
  margin-left: 0;
}

/* line 213, sass/screen.scss */
.pagination ul {
  clear: both;
  overflow: hidden;
  padding-top: 16px;
  margin-bottom: 1.42857em;
}

/* line 220, sass/screen.scss */
.pagination li {
  display: block;
  float: left;
  margin-right: 1.42857em;
}

/* line 226, sass/screen.scss */
.hTagcloud li {
  display: inline;
}

/* line 230, sass/screen.scss */
.hTagcloud ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 236, sass/screen.scss */
.popular {
  font-size: 100%;
}

/* line 238, sass/screen.scss */
.v-popular {
  font-size: 140%;
}

/* line 240, sass/screen.scss */
.vv-popular {
  font-size: 180%;
}

/* line 242, sass/screen.scss */
.vvv-popular {
  font-size: 220%;
}

/* line 244, sass/screen.scss */
.vvvv-popular {
  font-size: 260%;
}

/* line 246, sass/screen.scss */
.vvvvv-popular {
  font-size: 300%;
}

/* line 248, sass/screen.scss */
.vvvvvv-popular {
  font-size: 320%;
}

/* line 250, sass/screen.scss */
.vvvvvvv-popular {
  font-size: 340%;
}

/* line 252, sass/screen.scss */
.vvvvvvvv-popular {
  font-size: 360%;
}

/* line 254, sass/screen.scss */
ul.tags {
  margin-left: 0;
}

/* line 256, sass/screen.scss */
ul.tags li {
  display: inline;
  margin-bottom: 0;
}

/* @end */
/* @group ----- Header ----- */
/* line 265, sass/screen.scss */
header {
  margin-bottom: 0.71429em;
}

/* line 269, sass/screen.scss */
#site-title {
  font-size: 28px;
  padding: 0.71429em 0;
}

/* line 274, sass/screen.scss */
#search-container {
  float: right;
  text-align: right;
}
/* line 278, sass/screen.scss */
#search-container form {
  margin: 1.42857em 0;
}
/* line 281, sass/screen.scss */
#search-container form a {
  font-weight: bold;
  text-decoration: none;
}

/* line 288, sass/screen.scss */
#advanced-form {
  display: none;
}

/* mega menu list */
/* line 293, sass/screen.scss */
.nav-menu {
  width: 100%;
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
  float: left;
  background-color: #843418;
}
/* line 304, sass/screen.scss */
.nav-menu a {
  text-decoration: none;
}
/* line 307, sass/screen.scss */
.nav-menu a:link, .nav-menu a:visited {
  color: #fff;
}
/* line 311, sass/screen.scss */
.nav-menu a:hover, .nav-menu a:focus {
  background-color: #000;
  color: #dbd37b;
}

/* a top level navigation item in the mega menu */
/* line 319, sass/screen.scss */
.nav-item {
  list-style: none;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

/* first descendant link within a top level navigation item */
/* line 329, sass/screen.scss */
.nav-item > a {
  position: relative;
  display: inline-block;
  padding: 0.71429em 1.42857em;
  margin: 0;
  border: 0;
  color: #fff;
}

/* focus/open states of first descendant link within a top level 
   navigation item */
/* line 341, sass/screen.scss */
.nav-item > a:focus,
.nav-item > a.open {
  background-color: #000;
}

/* open state of first descendant link within a top level 
   navigation item */
/* line 347, sass/screen.scss */
.nav-item > a.open {
  background-color: #000;
  border-bottom: none;
  z-index: 1;
}

/* sub-navigation panel */
/* line 354, sass/screen.scss */
.sub-nav {
  position: absolute;
  display: none;
  top: 2.85714em;
  padding: 1.42857em;
  border: 0;
  margin: 0;
  background-color: #843418;
  z-index: 2;
}

/* sub-navigation panel open state */
/* line 366, sass/screen.scss */
.sub-nav.open {
  display: block;
  background-color: #000;
  min-width: 150%;
}

/* list of items within sub-navigation panel */
/* line 373, sass/screen.scss */
.sub-nav ul {
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
/* line 380, sass/screen.scss */
.sub-nav ul a:before {
  content: "\2014\0020";
}

/* list item within sub-navigation panel */
/* line 387, sass/screen.scss */
.sub-nav li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 394, sass/screen.scss */
#header-image {
  clear: both;
  margin: 1.42857em 0;
  border-color: #dddddd;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
}
/* line 400, sass/screen.scss */
#header-image img {
  display: block;
  max-width: 100%;
}

/* @end */
/* @group ----- Footer ----- */
/* line 410, sass/screen.scss */
footer {
  clear: both;
  padding-top: 1.42857em;
}
/* line 414, sass/screen.scss */
footer ul {
  width: 50%;
  float: right;
  text-align: right;
  margin-bottom: 0;
}
/* line 420, sass/screen.scss */
footer ul ul {
  display: none;
}
/* line 423, sass/screen.scss */
footer li {
  margin-bottom: 0;
  display: inline;
}
/* line 427, sass/screen.scss */
footer li a {
  margin-left: 9px;
  text-decoration: none;
  font-weight: bold;
  border-right: 1px solid #dddddd;
  padding-right: 9px;
  white-space: nowrap;
}
/* line 437, sass/screen.scss */
footer li.nav-home a {
  border-width: 0;
}
/* line 441, sass/screen.scss */
footer a:visited {
  color: #843418;
}

/* line 444, sass/screen.scss */
#footer-text {
  width: 50%;
  margin-bottom: 0;
}

/* @end */
/* @group ----- Home ----- */
/* line 453, sass/screen.scss */
.featured {
  overflow: hidden;
  background: #7B8D78;
  color: #fff;
  padding: 1.42857em 1.42857em 0;
  border-color: #4F584D;
  border-bottom-style: solid;
  border-bottom-width: 0.21429em;
  padding-bottom: 1.21429em;
  margin-bottom: 1.42857em;
}
/* line 462, sass/screen.scss */
.featured h2 {
  font-size: 17.5px;
  font-weight: bold;
  margin: -1.42857em -1.42857em 1.42857em;
  padding: 0.71429em 1.42857em;
  background: #4F584D;
  color: #fff;
}
/* line 471, sass/screen.scss */
.featured a {
  color: #cac58c;
}
/* line 473, sass/screen.scss */
.featured a:hover {
  color: #dbd37b;
}
/* line 475, sass/screen.scss */
.featured img {
  width: auto;
  height: 5.71429em;
  float: right;
  margin-left: 18px;
  margin-bottom: 1.42857em;
  border: 3px solid #4F584D;
}

/* line 485, sass/screen.scss */
#featured-item {
  margin-bottom: 1.42857em;
}

/* line 490, sass/screen.scss */
.item-description {
  margin-bottom: 1.42857em;
}

/* @end */
/* @group ----- Items ----- */
/* line 498, sass/screen.scss */
#items.show #primary {
  border: none;
}

/* line 502, sass/screen.scss */
#items.show h1 {
  width: 100%;
  display: inline-block;
  margin-top: 1.42857em;
}

/* line 508, sass/screen.scss */
#secondary-nav {
  overflow: hidden;
  margin-bottom: 1.42857em;
}
/* line 512, sass/screen.scss */
#secondary-nav li {
  display: block;
  float: left;
  width: 126px;
  margin-right: 18px;
}
/* line 519, sass/screen.scss */
#secondary-nav a {
  text-decoration: none;
  width: 126px;
  display: block;
  float: left;
  padding: 9px 0;
  text-align: center;
  color: #fff;
  background: #a49d4c;
  border: 1px solid #79743E;
  border-width: 0 1px 1px 0;
}

/* line 532, sass/screen.scss */
.items-nav {
  overflow: hidden;
}
/* line 535, sass/screen.scss */
.items-nav li {
  display: block;
  float: left;
  width: 126px;
  margin-right: 18px;
}
/* line 541, sass/screen.scss */
.items-nav a {
  text-decoration: none;
  width: 126px;
  display: block;
  float: left;
  padding: 9px 0;
  text-align: center;
  color: #fff;
  background: #a49d4c;
}

/* line 553, sass/screen.scss */
div.item {
  clear: both;
  overflow: hidden;
  border-color: #dddddd;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
}
/* line 559, sass/screen.scss */
div.item .item-img img {
  width: 100px;
  height: 100px;
  float: right;
  margin: 0 0 1.42857em 1.42857em;
  border: 3px solid #4F584D;
}

/* line 568, sass/screen.scss */
#items.show h3 {
  margin-bottom: 0.71429em;
}

/* line 572, sass/screen.scss */
.element-text {
  margin-bottom: 2.14286em;
}

/* line 576, sass/screen.scss */
.element-text-empty {
  display: none;
}

/* line 580, sass/screen.scss */
.item-pagination {
  clear: both;
  overflow: hidden;
  border-color: #dddddd;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
  margin-bottom: 0em;
}
/* line 588, sass/screen.scss */
.item-pagination li {
  display: block;
  float: left;
  width: 400px;
  margin-bottom: 0;
}
/* line 595, sass/screen.scss */
.item-pagination li.next {
  float: right;
  text-align: right;
}
/* line 600, sass/screen.scss */
.item-pagination a {
  text-decoration: none;
  display: block;
  float: left;
  width: 400px;
}

/* line 608, sass/screen.scss */
.item-file {
  margin-bottom: 1.42857em;
}
/* line 611, sass/screen.scss */
.item-file img {
  height: 5.71429em;
  width: auto;
  margin-bottom: 0.71429em;
}

/* @end */
