/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @group ----- Generic HTML elements ----- */
/* line 8, sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, sass/screen.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #222;
  background: #f6f6f6;
}

/* line 20, sass/screen.scss */
h1 {
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 0.71429em;
}

/* line 27, sass/screen.scss */
h2 {
  font-size: 24.5px;
  line-height: 40px;
  margin-bottom: 0.71429em;
  font-weight: bold;
  color: #a49D4C;
}

/* line 36, sass/screen.scss */
h3 {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 1.42857em;
  color: #7B8D78;
}

/* line 44, sass/screen.scss */
h4 {
  margin-bottom: 1.42857em;
  font-weight: bold;
  color: #7B8D78;
}

/* line 50, sass/screen.scss */
p, ul, ol, dl {
  margin-bottom: 1.42857em;
}

/* line 55, sass/screen.scss */
ul, ol, dl {
  margin-left: 1.5em;
}

/* line 63, sass/screen.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 67, sass/screen.scss */
dt {
  font-weight: bold;
}

/* line 72, sass/screen.scss */
dd {
  margin-left: 1.5em;
  margin-bottom: 1.42857em;
}

/* line 78, sass/screen.scss */
blockquote {
  margin: 2.85714em 0;
  font-style: italic;
  border: 1px solid #ddd;
  border-width: 1px 0;
  padding: 1.42857em 1.5em 0;
}

/* line 86, sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 90, sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 94, sass/screen.scss */
a:link {
  color: #843418;
}

/* line 96, sass/screen.scss */
a:visited {
  color: #a49D4C;
}

/* line 98, sass/screen.scss */
a:hover {
  color: #7B8D78;
}

/* line 100, sass/screen.scss */
a:active {
  color: #7B8D78;
}

/* line 106, sass/screen.scss */
h1 a,
h2 a,
h3 a,
h4 a,
#site-title a {
  text-decoration: none;
}

/* line 108, sass/screen.scss */
table {
  width: 100%;
  margin: 2.85714em 0;
}

/* line 113, sass/screen.scss */
th, td {
  margin: 0;
  padding: 0.71429em 0;
  border-color: #ddd;
  border-bottom-style: solid;
  border-bottom-width: 0.07143em;
  padding-bottom: 0.64286em;
}

/* line 120, sass/screen.scss */
th {
  border-bottom-style: solid;
  border-bottom-width: 0.21429em;
  padding-bottom: 0.5em;
  text-align: left;
  color: #a49D4C;
  font-weight: bold;
}

/* line 128, sass/screen.scss */
label,
.label {
  font-size: 17.5px;
  font-weight: bold;
}

/* line 133, sass/screen.scss */
.field {
  margin-bottom: 1.42857em;
}

/* @end */
/* @group ----- Global classes ----- */
/* line 141, sass/screen.scss */
#wrap {
  overflow: hidden;
  background: #fff;
  width: 884px;
  padding: 1.42857em;
  margin: 2.85714em auto;
}

/* line 149, sass/screen.scss */
#content {
  overflow: hidden;
  zoom: 1;
  clear: both;
  border-top: 1px solid #ddd;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;
}

/* line 156, sass/screen.scss */
#primary {
  float: left;
  width: 65%;
  border-right: 1px solid #ddd;
  padding: 1.42857em 1.42857em 0 0;
}

/* line 164, sass/screen.scss */
#secondary {
  float: right;
  width: 35%;
  padding: 1.42857em 0 0 1.42857em;
  word-break: break-all;
}

/* line 171, sass/screen.scss */
.navigation {
  list-style: none;
  margin-left: 0;
}

/* line 176, sass/screen.scss */
.pagination ul {
  clear: both;
  overflow: hidden;
  padding-top: 16px;
  margin-bottom: 1.42857em;
}

/* line 183, sass/screen.scss */
.pagination li {
  display: block;
  float: left;
  margin-right: 1.42857em;
}

/* line 189, sass/screen.scss */
.hTagcloud li {
  display: inline;
}

/* line 193, sass/screen.scss */
.hTagcloud ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 199, sass/screen.scss */
.popular {
  font-size: 100%;
}

/* line 201, sass/screen.scss */
.v-popular {
  font-size: 140%;
}

/* line 203, sass/screen.scss */
.vv-popular {
  font-size: 180%;
}

/* line 205, sass/screen.scss */
.vvv-popular {
  font-size: 220%;
}

/* line 207, sass/screen.scss */
.vvvv-popular {
  font-size: 260%;
}

/* line 209, sass/screen.scss */
.vvvvv-popular {
  font-size: 300%;
}

/* line 211, sass/screen.scss */
.vvvvvv-popular {
  font-size: 320%;
}

/* line 213, sass/screen.scss */
.vvvvvvv-popular {
  font-size: 340%;
}

/* line 215, sass/screen.scss */
.vvvvvvvv-popular {
  font-size: 360%;
}

/* line 217, sass/screen.scss */
ul.tags {
  margin-left: 0;
}

/* line 219, sass/screen.scss */
ul.tags li {
  display: inline;
  margin-bottom: 0;
}

/* @end */
/* @group ----- Header ----- */
/* line 228, sass/screen.scss */
header {
  margin-bottom: 0.71429em;
}

/* line 232, sass/screen.scss */
#site-title {
  font-size: 28px;
  padding: 0.71429em 0;
}

/* line 237, sass/screen.scss */
#search-container {
  float: right;
  text-align: right;
}
/* line 241, sass/screen.scss */
#search-container form {
  margin: 1.42857em 0;
}
/* line 244, sass/screen.scss */
#search-container form a {
  font-weight: bold;
  text-decoration: none;
}

/* line 251, sass/screen.scss */
#advanced-form {
  display: none;
}

/* line 255, sass/screen.scss */
#top-nav {
  overflow: hidden;
  clear: both;
  padding: 1.42857em 0 0;
  border-color: #ddd;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
}
/* line 262, sass/screen.scss */
#top-nav ul {
  margin-bottom: 0;
  overflow: auto;
}
/* line 267, sass/screen.scss */
#top-nav li {
  display: block;
  float: left;
  width: 198px;
  margin: 0 18px 0.71429em 0;
}
/* line 274, sass/screen.scss */
#top-nav ul ul {
  display: none;
}
/* line 276, sass/screen.scss */
#top-nav a {
  display: block;
  width: 198px;
  text-decoration: none;
  text-align: center;
  padding: 0.71429em 0;
  float: left;
}
/* line 284, sass/screen.scss */
#top-nav a:link, #top-nav a:visited {
  color: #fff;
  background: #843418;
}
/* line 289, sass/screen.scss */
#top-nav a:hover {
  color: #fff;
  background: #222222;
}
/* line 295, sass/screen.scss */
#top-nav li.current a {
  color: #fff;
  background: #222222;
}

/* line 301, sass/screen.scss */
#header-image {
  clear: both;
  margin: 0.71429em 0 1.42857em;
  border-color: #ddd;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
}
/* line 307, sass/screen.scss */
#header-image img {
  display: block;
  max-width: 100%;
}

/* @end */
/* @group ----- Footer ----- */
/* line 317, sass/screen.scss */
footer {
  clear: both;
  padding-top: 1.42857em;
}
/* line 321, sass/screen.scss */
footer ul {
  width: 50%;
  float: right;
  text-align: right;
  margin-bottom: 0;
}
/* line 327, sass/screen.scss */
footer ul ul {
  display: none;
}
/* line 330, sass/screen.scss */
footer li {
  margin-bottom: 0;
  display: inline;
}
/* line 334, sass/screen.scss */
footer li a {
  margin-left: 9px;
  text-decoration: none;
  font-weight: bold;
  border-right: 1px solid #ddd;
  padding-right: 9px;
  white-space: nowrap;
}
/* line 344, sass/screen.scss */
footer li.nav-home a {
  border-width: 0;
}
/* line 348, sass/screen.scss */
footer a:visited {
  color: #843418;
}

/* line 351, sass/screen.scss */
#footer-text {
  width: 50%;
  margin-bottom: 0;
}

/* @end */
/* @group ----- Home ----- */
/* line 360, sass/screen.scss */
.featured {
  overflow: hidden;
  background: #7B8D78;
  color: #fff;
  padding: 1.42857em 1.42857em 0;
  border-color: #4F584D;
  border-bottom-style: solid;
  border-bottom-width: 0.21429em;
  padding-bottom: 1.21429em;
  margin-bottom: 1.42857em;
}
/* line 369, sass/screen.scss */
.featured h2 {
  font-size: 17.5px;
  font-weight: bold;
  margin: -1.42857em -1.42857em 1.42857em;
  padding: 0.71429em 1.42857em;
  background: #4F584D;
  color: #fff;
}
/* line 378, sass/screen.scss */
.featured a {
  color: #fff;
}
/* line 380, sass/screen.scss */
.featured img {
  width: 72px;
  height: 72px;
  float: right;
  margin-left: 18px;
  margin-bottom: 18px;
  border: 3px solid #4F584D;
}

/* line 390, sass/screen.scss */
#featured-item {
  margin-bottom: 1.42857em;
}

/* line 395, sass/screen.scss */
.item-description {
  margin-bottom: 1.42857em;
}

/* @end */
/* @group ----- Items ----- */
/* line 403, sass/screen.scss */
#items.show #primary {
  border: none;
}

/* line 407, sass/screen.scss */
#secondary-nav {
  overflow: hidden;
  margin-bottom: 1.42857em;
}
/* line 411, sass/screen.scss */
#secondary-nav li {
  display: block;
  float: left;
  width: 126px;
  margin-right: 18px;
}
/* line 418, sass/screen.scss */
#secondary-nav a {
  text-decoration: none;
  width: 126px;
  display: block;
  float: left;
  padding: 9px 0;
  text-align: center;
  color: #fff;
  background: #a49D4C;
  border: 1px solid #79743E;
  border-width: 0 1px 1px 0;
}

/* line 431, sass/screen.scss */
.items-nav {
  overflow: hidden;
}
/* line 434, sass/screen.scss */
.items-nav li {
  display: block;
  float: left;
  width: 126px;
  margin-right: 18px;
}
/* line 440, sass/screen.scss */
.items-nav a {
  text-decoration: none;
  width: 126px;
  display: block;
  float: left;
  padding: 9px 0;
  text-align: center;
  color: #fff;
  background: #a49D4C;
}

/* line 452, sass/screen.scss */
div.item {
  clear: both;
  overflow: hidden;
  border-color: #ddd;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
}
/* line 458, sass/screen.scss */
div.item .item-img img {
  width: 100px;
  height: 100px;
  float: right;
  margin: 0 0 1.42857em 1.42857em;
  border: 3px solid #4F584D;
}

/* line 467, sass/screen.scss */
#items.show h3 {
  margin-bottom: 0.71429em;
}

/* line 471, sass/screen.scss */
.element-text {
  margin-bottom: 2.14286em;
}

/* line 475, sass/screen.scss */
.element-text-empty {
  display: none;
}

/* line 479, sass/screen.scss */
.item-pagination {
  clear: both;
  overflow: hidden;
  border-color: #ddd;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: 0.07143em;
  padding-top: 1.35714em;
  margin-bottom: 1.42857em;
}
/* line 487, sass/screen.scss */
.item-pagination li {
  display: block;
  float: left;
  width: 400px;
  margin-bottom: 0;
}
/* line 494, sass/screen.scss */
.item-pagination li.next {
  float: right;
  text-align: right;
}
/* line 499, sass/screen.scss */
.item-pagination a {
  text-decoration: none;
  display: block;
  float: left;
  width: 400px;
}

/* line 507, sass/screen.scss */
.item-file {
  margin-bottom: 1.42857em;
}

/* @end */
