/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media screen {
  /* @group ----- Generic HTML elements ----- */
  /* line 61, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 87.5%;
  }

  /* line 64, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 14px;
    line-height: 1.5em;
  }

  /* line 5, sass/_screen.scss */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 9, sass/_screen.scss */
  body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #222;
    background: #f6f6f6;
  }

  /* line 17, sass/_screen.scss */
  h1 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 1.5em;
  }

  /* line 24, sass/_screen.scss */
  h2 {
    font-size: 24.5px;
    line-height: 42px;
    margin-bottom: 0.85714em;
    font-weight: bold;
    color: #9e9e9e;
  }

  /* line 33, sass/_screen.scss */
  h3 {
    font-size: 17.5px;
    line-height: 21px;
    margin-bottom: 1.2em;
    color: #7B8D78;
  }

  /* line 41, sass/_screen.scss */
  h4 {
    margin-bottom: 1.5em;
    font-weight: bold;
    color: #7B8D78;
  }

  /* line 47, sass/_screen.scss */
  p, ul, ol, dl {
    margin-bottom: 1.5em;
  }

  /* line 52, sass/_screen.scss */
  ul, ol, dl {
    margin-left: 1.5em;
  }

  /* line 60, sass/_screen.scss */
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  /* line 64, sass/_screen.scss */
  dt {
    font-weight: bold;
  }

  /* line 69, sass/_screen.scss */
  dd {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }

  /* line 75, sass/_screen.scss */
  blockquote {
    margin: 3em 0;
    font-style: italic;
    border-color: #dddddd;
    padding: 1.5em 1.5em 0;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 1.42857em;
  }

  /* line 83, sass/_screen.scss */
  em, i {
    font-style: italic;
  }

  /* line 87, sass/_screen.scss */
  strong, b {
    font-weight: bold;
  }

  /* line 91, sass/_screen.scss */
  a:link {
    color: #843418;
  }

  /* line 93, sass/_screen.scss */
  a:visited {
    color: #a49d4c;
  }

  /* line 95, sass/_screen.scss */
  a:hover {
    color: #7B8D78;
  }

  /* line 97, sass/_screen.scss */
  a:active {
    color: #7B8D78;
  }

  /* line 103, sass/_screen.scss */
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  #site-title a {
    text-decoration: none;
  }

  /* line 105, sass/_screen.scss */
  table {
    width: 100%;
    margin: 3em 0;
    border-collapse: collapse;
    border-spacing: 0px;
  }

  /* line 117, sass/_screen.scss */
  th, td {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
  }

  /* line 123, sass/_screen.scss */
  th {
    text-align: left;
    color: #a49d4c;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
  }

  /* line 130, sass/_screen.scss */
  input {
    margin: 0;
  }

  /* line 136, sass/_screen.scss */
  input[type=text],
  input[type=password],
  textarea {
    font-family: "Lato", sans-serif;
    border-color: #dddddd;
    border-style: solid;
    border-width: 0.07143em;
    padding: 0.30357em;
    font-size: 14px;
    line-height: 21px;
    margin: 0.375em 0;
    max-width: 100%;
    display: block;
  }

  /* line 149, sass/_screen.scss */
  input[type=submit],
  button,
  .button {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #a49d4c;
    color: #fff;
    border: 0;
    padding: 0.375em;
    cursor: pointer;
    margin: 0;
  }
  /* line 160, sass/_screen.scss */
  input[type=submit]:hover,
  button:hover,
  .button:hover {
    background-color: #706b34;
  }

  /* line 165, sass/_screen.scss */
  select {
    display: inline-block;
    vertical-align: top;
    margin: 0.75em 5px 0.75em 0;
  }

  /* line 172, sass/_screen.scss */
  textarea {
    margin-bottom: 1.5em;
    min-width: 50%;
    min-height: 9em;
    border-color: #dddddd;
    border-style: solid;
    border-width: 0.07143em;
    padding: 0.67857em;
    vertical-align: top;
  }

  /* line 182, sass/_screen.scss */
  label,
  .label {
    font-size: 15.75px;
    font-weight: bold;
    vertical-align: top;
  }

  /* line 188, sass/_screen.scss */
  .field {
    margin-bottom: 1.5em;
  }

  /* line 192, sass/_screen.scss */
  .inputs {
    min-height: 3em;
    line-height: 42px;
  }

  /* @end */
  /* @group ----- Global classes ----- */
  /* line 202, sass/_screen.scss */
  #wrap {
    overflow: hidden;
    background: #fff;
    width: 884px;
    padding: 1.5em;
    margin: 3em auto;
  }

  /* line 210, sass/_screen.scss */
  #content {
    clear: both;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    float: left;
    width: 100%;
  }
  /* line 217, sass/_screen.scss */
  #content > h1:first-of-type {
    padding: 0.75em 0;
    margin: 0;
  }
  /* line 222, sass/_screen.scss */
  #content > #primary, #content #secondary {
    padding-top: 1.5em;
  }

  /* line 228, sass/_screen.scss */
  #content > #primary:first-child, #content > #primary:not(:only-child) {
    float: left;
    width: 65%;
    border-right: 1px solid #dddddd;
    padding: 0 1.5em 1.5em 0;
  }
  /* line 234, sass/_screen.scss */
  #content > #primary:first-child h1:first-of-type, #content > #primary:not(:only-child) h1:first-of-type {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  /* line 241, sass/_screen.scss */
  #secondary {
    float: right;
    width: 35%;
    padding: 0 0 1.5em 1.5em;
    word-break: break-all;
  }

  /* line 248, sass/_screen.scss */
  .navigation {
    list-style: none;
    margin-left: 0;
  }

  /* line 253, sass/_screen.scss */
  .pagination ul {
    clear: both;
    overflow: hidden;
    margin: 0 0 1.5em;
    background-color: #dddddd;
    display: inline-block;
    vertical-align: top;
  }

  /* line 262, sass/_screen.scss */
  .pagination input {
    margin: 0 5px 0 0;
    width: 4em;
    text-align: center;
    display: inline;
  }

  /* line 269, sass/_screen.scss */
  .page-input {
    padding-right: 10px;
  }

  /* line 274, sass/_screen.scss */
  .pagination_next,
  .pagination_previous {
    background-color: #a49d4c;
    font-size: 14px;
    padding: 0.375em 10px;
  }
  /* line 279, sass/_screen.scss */
  .pagination_next a,
  .pagination_previous a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  /* line 286, sass/_screen.scss */
  .pagination li {
    display: block;
    float: left;
  }

  /* line 291, sass/_screen.scss */
  .hTagcloud li {
    display: inline;
  }

  /* line 295, sass/_screen.scss */
  .hTagcloud ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  /* line 301, sass/_screen.scss */
  .popular {
    font-size: 100%;
  }

  /* line 303, sass/_screen.scss */
  .v-popular {
    font-size: 140%;
  }

  /* line 305, sass/_screen.scss */
  .vv-popular {
    font-size: 180%;
  }

  /* line 307, sass/_screen.scss */
  .vvv-popular {
    font-size: 220%;
  }

  /* line 309, sass/_screen.scss */
  .vvvv-popular {
    font-size: 260%;
  }

  /* line 311, sass/_screen.scss */
  .vvvvv-popular {
    font-size: 300%;
  }

  /* line 313, sass/_screen.scss */
  .vvvvvv-popular {
    font-size: 320%;
  }

  /* line 315, sass/_screen.scss */
  .vvvvvvv-popular {
    font-size: 340%;
  }

  /* line 317, sass/_screen.scss */
  .vvvvvvvv-popular {
    font-size: 360%;
  }

  /* line 319, sass/_screen.scss */
  ul.tags {
    margin-left: 0;
  }

  /* line 321, sass/_screen.scss */
  ul.tags li {
    display: inline;
    margin-bottom: 0;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 330, sass/_screen.scss */
  header {
    margin-bottom: 0.75em;
  }

  /* line 334, sass/_screen.scss */
  #site-title {
    font-size: 28px;
    line-height: 42px;
    padding: 0 0 0.75em 0;
  }

  /* line 340, sass/_screen.scss */
  #search-container {
    float: right;
    text-align: right;
    vertical-align: top;
    width: 30%;
    position: relative;
  }
  /* line 347, sass/_screen.scss */
  #search-container form {
    margin: 0.375em 0;
    float: left;
    width: 100%;
  }
  /* line 352, sass/_screen.scss */
  #search-container form a {
    font-weight: bold;
    text-decoration: none;
  }
  /* line 358, sass/_screen.scss */
  #search-container input {
    vertical-align: top;
    margin: 0;
  }
  /* line 363, sass/_screen.scss */
  #search-container input[type=text] {
    width: 70%;
    float: left;
    height: 31.5px;
  }
  /* line 369, sass/_screen.scss */
  #search-container input[type=submit] {
    width: 30%;
    float: left;
  }

  /* line 376, sass/_screen.scss */
  #search-container.with-advanced input[type=text] {
    width: 60%;
  }
  /* line 380, sass/_screen.scss */
  #search-container.with-advanced input[type=submit] {
    width: 25%;
  }
  /* line 384, sass/_screen.scss */
  #search-container.with-advanced .show-advanced {
    width: 15%;
    color: #fff !important;
    display: block;
    float: left;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }

  /* line 394, sass/_screen.scss */
  #advanced-form {
    position: absolute;
    top: 2.625em;
    background-color: #fff;
    z-index: 20;
    width: 100%;
    border-color: #dddddd;
    border-top-color: #fff;
    border-style: solid;
    border-width: 0.07143em;
    padding: 0.30357em;
    text-align: left;
    padding: 0.75em;
  }
  /* line 407, sass/_screen.scss */
  #advanced-form.closed {
    left: -9999px;
  }
  /* line 411, sass/_screen.scss */
  #advanced-form.open {
    left: 0;
  }
  /* line 415, sass/_screen.scss */
  #advanced-form p {
    margin-bottom: 0.75em;
  }
  /* line 419, sass/_screen.scss */
  #advanced-form fieldset {
    margin-bottom: 1.5em;
  }
  /* line 423, sass/_screen.scss */
  #advanced-form label {
    font-size: 14px;
    font-weight: normal;
  }
  /* line 429, sass/_screen.scss */
  #advanced-form input[type=checkbox],
  #advanced-form input[type=radio] {
    margin: 0.375em 5px 0 0;
  }
  /* line 433, sass/_screen.scss */
  #advanced-form > *:last-child {
    margin-bottom: 0;
  }

  /* mega menu list */
  /* line 439, sass/_screen.scss */
  .nav-menu {
    width: 100%;
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
    float: left;
    background-color: #843418;
  }
  /* line 450, sass/_screen.scss */
  .nav-menu a {
    text-decoration: none;
  }
  /* line 453, sass/_screen.scss */
  .nav-menu a:link, .nav-menu a:visited {
    color: #fff;
  }
  /* line 457, sass/_screen.scss */
  .nav-menu a:hover, .nav-menu a:focus {
    background-color: #000;
    color: #dbd37b;
  }

  /* a top level navigation item in the mega menu */
  /* line 465, sass/_screen.scss */
  .nav-item {
    list-style: none;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
  }

  /* first descendant link within a top level navigation item */
  /* line 475, sass/_screen.scss */
  .nav-item > a {
    position: relative;
    display: inline-block;
    padding: 0.75em 1.5em;
    margin: 0;
    border: 0;
    color: #fff;
  }

  /* focus/open states of first descendant link within a top level 
     navigation item */
  /* line 487, sass/_screen.scss */
  .nav-item > a:focus,
  .nav-item > a.open {
    background-color: #000;
  }

  /* open state of first descendant link within a top level 
     navigation item */
  /* line 493, sass/_screen.scss */
  .nav-item > a.open {
    background-color: #000;
    border-bottom: none;
    z-index: 1;
  }

  /* sub-navigation panel */
  /* line 500, sass/_screen.scss */
  .sub-nav {
    position: absolute;
    display: none;
    top: 3em;
    padding: 1.5em;
    border: 0;
    margin: 0;
    background-color: #843418;
    z-index: 2;
  }

  /* sub-navigation panel open state */
  /* line 512, sass/_screen.scss */
  .sub-nav.open {
    display: block;
    background-color: #000;
    min-width: 150%;
  }

  /* list of items within sub-navigation panel */
  /* line 519, sass/_screen.scss */
  .sub-nav ul {
    display: block;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }
  /* line 526, sass/_screen.scss */
  .sub-nav ul a:before {
    content: "\2014\0020";
  }

  /* list item within sub-navigation panel */
  /* line 533, sass/_screen.scss */
  .sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* line 540, sass/_screen.scss */
  #header-image {
    clear: both;
    margin: 1.5em 0;
    border-color: #dddddd;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 1.42857em;
  }
  /* line 546, sass/_screen.scss */
  #header-image img {
    display: block;
    max-width: 100%;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 556, sass/_screen.scss */
  footer {
    clear: both;
    padding-top: 1.5em;
  }
  /* line 560, sass/_screen.scss */
  footer ul {
    width: 50%;
    float: right;
    text-align: right;
    margin-bottom: 0;
  }
  /* line 566, sass/_screen.scss */
  footer ul ul {
    display: none;
  }
  /* line 569, sass/_screen.scss */
  footer li {
    margin-bottom: 0;
    display: inline;
  }
  /* line 573, sass/_screen.scss */
  footer li a {
    margin-left: 9px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #dddddd;
    padding-right: 9px;
    white-space: nowrap;
  }
  /* line 583, sass/_screen.scss */
  footer li.nav-home a {
    border-width: 0;
  }
  /* line 587, sass/_screen.scss */
  footer a:visited {
    color: #843418;
  }

  /* line 590, sass/_screen.scss */
  #footer-text {
    width: 50%;
    margin-bottom: 0;
  }

  /* @end */
  /* @group ----- Search ----- */
  /* line 599, sass/_screen.scss */
  #search-filters ul {
    margin-left: 0;
  }
  /* line 602, sass/_screen.scss */
  #search-filters ul ul {
    display: inline-block;
  }

  /* line 607, sass/_screen.scss */
  #search-filters li {
    display: inline-block;
  }

  /* line 611, sass/_screen.scss */
  #search-filters > ul > li {
    padding: 0.75em 10px;
    background-color: #a49d4c;
    margin-top: 1.5em;
    color: #fff;
  }

  /* line 618, sass/_screen.scss */
  #search-filters li li {
    text-transform: lowercase;
  }
  /* line 621, sass/_screen.scss */
  #search-filters li li:after {
    content: ", ";
  }
  /* line 625, sass/_screen.scss */
  #search-filters li li:last-of-type:after {
    content: "";
  }

  /* @end */
  /* @group ----- Home ----- */
  /* line 636, sass/_screen.scss */
  .featured {
    overflow: hidden;
    background: #7B8D78;
    color: #fff;
    padding: 1.5em 1.5em 0;
    border-color: #4F584D;
    border-bottom-style: solid;
    border-bottom-width: 0.21429em;
    padding-bottom: 1.28571em;
    margin-bottom: 1.5em;
  }
  /* line 645, sass/_screen.scss */
  .featured h2 {
    font-size: 17.5px;
    font-weight: bold;
    margin: -1.5em -1.5em 1.2em;
    padding: 0.75em 1.5em;
    background: #4F584D;
    color: #fff;
  }
  /* line 654, sass/_screen.scss */
  .featured a {
    color: #cac58c;
  }
  /* line 656, sass/_screen.scss */
  .featured a:hover {
    color: #dbd37b;
  }
  /* line 658, sass/_screen.scss */
  .featured img {
    width: auto;
    height: 6em;
    float: right;
    margin-left: 18px;
    margin-bottom: 1.5em;
    border: 3px solid #4F584D;
  }

  /* line 668, sass/_screen.scss */
  #featured-item {
    margin-bottom: 1.5em;
  }

  /* line 673, sass/_screen.scss */
  .item-description {
    margin-bottom: 1.5em;
  }

  /* @end */
  /* @group ----- Items ----- */
  /* line 681, sass/_screen.scss */
  #items.show #primary {
    border: none;
  }

  /* line 685, sass/_screen.scss */
  #items.show #secondary {
    padding-top: 0;
  }

  /* line 689, sass/_screen.scss */
  #items.show h1 {
    width: 100%;
    display: inline-block;
    margin-top: 0.75em;
  }

  /* line 697, sass/_screen.scss */
  .items-nav,
  #secondary-nav,
  .secondary-nav {
    overflow: hidden;
    margin-bottom: 1.5em;
  }
  /* line 701, sass/_screen.scss */
  .items-nav li,
  #secondary-nav li,
  .secondary-nav li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 10px 0 0;
  }
  /* line 708, sass/_screen.scss */
  .items-nav a,
  #secondary-nav a,
  .secondary-nav a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 0.75em;
    text-align: center;
    color: #fff;
    background: #a49d4c;
    border-width: 0 1px 1px 0;
  }
  /* line 718, sass/_screen.scss */
  .items-nav a:hover,
  #secondary-nav a:hover,
  .secondary-nav a:hover {
    background-color: #5e5a2c;
    color: #fff;
  }

  /* line 725, sass/_screen.scss */
  div.item {
    clear: both;
    overflow: hidden;
    border-color: #dddddd;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 1.42857em;
  }
  /* line 731, sass/_screen.scss */
  div.item .item-img img {
    width: 7.5em;
    height: auto;
    float: right;
    margin: 0 0 1.5em 1.5em;
    border: 3px solid #4F584D;
  }

  /* line 740, sass/_screen.scss */
  .element-text {
    font-size: 14px;
    margin-bottom: 3em;
  }

  /* line 745, sass/_screen.scss */
  .element-text-empty {
    display: none;
  }

  /* line 749, sass/_screen.scss */
  .item-pagination {
    clear: both;
    overflow: hidden;
    border-color: #dddddd;
    font-weight: bold;
    border-top-style: solid;
    border-top-width: 0.07143em;
    padding-top: 1.42857em;
    margin-bottom: 0em;
  }
  /* line 757, sass/_screen.scss */
  .item-pagination li {
    display: block;
    float: left;
    width: 400px;
    margin-bottom: 0;
  }
  /* line 764, sass/_screen.scss */
  .item-pagination li.next {
    float: right;
    text-align: right;
  }
  /* line 769, sass/_screen.scss */
  .item-pagination a {
    text-decoration: none;
    display: block;
    float: left;
    width: 400px;
  }

  /* line 777, sass/_screen.scss */
  .item-file {
    margin-bottom: 1.5em;
  }
  /* line 780, sass/_screen.scss */
  .item-file a, .item-file img {
    vertical-align: top;
    display: block;
  }
  /* line 785, sass/_screen.scss */
  .item-file img {
    height: 6em;
    width: auto;
    margin-bottom: 1.5em;
  }

  /* line 792, sass/_screen.scss */
  #pagination-top {
    float: left;
  }

  /* line 796, sass/_screen.scss */
  #sort-links {
    margin-top: 0.375em;
    float: right;
  }

  /* line 801, sass/_screen.scss */
  #sort-links-list {
    margin-left: 10px;
    display: inline;
  }
  /* line 805, sass/_screen.scss */
  #sort-links-list li {
    display: inline;
    margin-right: 10px;
  }

  /* line 811, sass/_screen.scss */
  .sorting {
    font-weight: bold;
  }

  /* line 815, sass/_screen.scss */
  #advanced-search-form {
    padding-bottom: 3em;
  }

  /* line 819, sass/_screen.scss */
  #advanced-search-form input {
    display: inline;
  }

  /* line 823, sass/_screen.scss */
  .remove_search {
    padding: 0.375em 10px;
  }

  /* @end */
}
@media screen and (max-width: 844px) {
  /* line 1, sass/_screen844.scss */
  body, #wrap {
    width: 100%;
    margin: 0;
  }

  /* line 6, sass/_screen844.scss */
  #primary, #secondary {
    width: 100%;
    border-right: 0;
    padding: 0;
  }

  /* line 12, sass/_screen844.scss */
  #search-container {
    width: 100%;
    margin-bottom: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  /* line 1, sass/_screen480.scss */
  .navigation {
    position: relative;
  }

  /* line 5, sass/_screen480.scss */
  .navigation li {
    display: block;
    width: 100%;
    border-color: rgba(255, 255, 255, 0.15);
    border-bottom-style: solid;
    border-bottom-width: 0.07143em;
    padding-bottom: -0.07143em;
  }
  /* line 11, sass/_screen480.scss */
  .navigation li a {
    width: 100%;
  }
  /* line 15, sass/_screen480.scss */
  .navigation li:last-of-type {
    border-color: transparent;
  }

  /* line 20, sass/_screen480.scss */
  .sub-nav.open {
    width: 100%;
    min-width: intrinsic;
  }
}
@media print {
  /* line 1, sass/print.scss */
  body {
    font-family: "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
  }

  /* line 5, sass/print.scss */
  #content {
    width: 100%;
    margin: 0;
    float: none;
  }

  /* line 12, sass/print.scss */
  h1,
  #site-title {
    font-size: 16pt;
    font-weight: bold;
  }

  /* line 17, sass/print.scss */
  h2 {
    font-size: 14pt;
    font-style: italic;
  }

  /* line 22, sass/print.scss */
  h3 {
    font-size: 14pt;
  }

  /* line 26, sass/print.scss */
  h4 {
    font-weight: bold;
  }

  /* line 30, sass/print.scss */
  h5 {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }

  /* line 36, sass/print.scss */
  a:link:after {
    content: " (" attr(href) ") ";
    font-size: 80%;
  }

  /* line 48, sass/print.scss */
  #search-container,
  #primary-nav,
  #header-image,
  .navigation,
  .pagination,
  #exhibit-page-navigation,
  .exhibit-section-nav,
  .exhibit-page-nav {
    display: none;
  }

  /* line 52, sass/print.scss */
  blockquote {
    margin: 10pt 0 0 0;
    font-style: italic;
  }
}
