@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/layout/grid-background";

// Colors

$gray: #ddd;
$yellow: #A49D4C;
$red: #843418;

// Typography

$base-font-size: 14px;
$base-line-height: 21px;
