body, #wrap {
    width: 100%;
    margin: 0;
}

#primary, #secondary {
    width: 100% !important;
    border-right: 0 !important;
    padding: 0 !important;
}

#search-container {
    width: 100%;
    @include trailer();
}
