@import "base";

@media screen {
    @import "screen";
}

@media screen and (max-width:844px) {
    @import "screen844";
}

@media screen and (max-width:480px) {
    @import "screen480";
}

@media print {
    @import "print";
}